/* Empty. Add your own CSS if you like */
.item-grey
{
  border-color : #fff;
  background-color:#ddd;
}

.alertErr .popup-title {
    color: red;
    font-weight: bold;
}

.alertErr .popup-body {
    color: red;
}

.fields-background{
 background: url("../img/fields.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}/* Empty. Add your own CSS if you like */

.fruits-background{
 background: url("../img/fruits.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}/* Empty. Add your own CSS if you like */

.economy-background{
 background: url("../img/economy.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}/* Empty. Add your own CSS if you like */